

/* src/components/Profile.css */

body{
    justify-content: center;
    align-items: center;
    background-color: orange;
    
}



.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  

  .profile-picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007bff;
  }
  
  .file-input {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    opacity: 0;
    cursor: pointer;
  }
  
  .username h2 {
    color: #333;
    font-size: 24px;
    margin: 10px 0;
  }
  
  .user-details {
    text-align: center;
    color: #555;
  }
  
  .user-details p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  strong {
    color: #333;
  }
  








 
  





  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f37a1d;
    background: linear-gradient(135deg,#FF8A00,#E52E71);
    height: 100vh;
    margin: 0;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .profile-picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile-picture {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fa102b;
  }
  
  .file-input {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    opacity: 0;
    cursor: pointer;
  }
  
  .username h2 {
    color: #333;
    font-size: 24px;
    margin: 10px 0;
    margin-top: 0;
  }
  
  .user-details {
    /* text-align: center; */
    color: #535353;
  }
  
  .user-details p {
    margin: 10px 0;
    font-size: 16px;
    background-color: #f8ece3;
    border-radius: 5px;
    text-align: start;
    margin: 10px;
    padding: 5px;
  }
  
  strong {
    color: #333;
    margin: 10px;
  }
  


