
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  body {
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(135deg, #FF8A00, #E52E71); */
    
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .app {
    width: 100%;
    max-width: 1024px;
    padding: 20px;
    text-align: center;
  }
  
  .header {
    margin-bottom: 30px;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    /* font-style: italic; */
    color: #f1f1f1;
  }
  
  .main {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background: #fff;
    color: #333;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-title {
    font-size: 1.8rem;
    color: #FF8A00;
  }
  
  .card-description {
    font-size: 1rem;
    margin-top: 10px;
    color: #777;
  }
  
  
  
  
  .contain-button{
    background-color: transparent;
    margin-top: 15px;
    background-color:white;
    color:  #FF8A00;
    border: none;
    padding: 10px 20px;
    font-size: 1.4rem;
    
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

   .contain-button  :hover{
    background-color:white ;
    color:  #da7c11;
  } 
  .contain p{
    color: #fbf8f8;
  }
  @media (max-width: 1024px) {
    .main {
      flex-direction: column;
      align-items: center;
    }
  }
  .logo{
    width: 100%;
  }
   