




 /* TaskManager.css */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
   
} */

 /* body, html { */
  /* overflow-x: hidden;
  overflow-y: hidden; */
    /* margin: 0; */
    /* padding: 0; */
    /* font-family: Arial, sans-serif; */
    /* justify-content: center;
    align-items: start; */
    /* background-color: #ddd; */

    /* height: 100%; Ensure the body takes up the full height */
    /* width: 100%; Ensure the body takes up the full width */
  /* } */
  
  /* .task-manager {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f4f4f9;
    
    width: 100%;
    height: 100vh;
    padding: 20px;
    color: #333;
  } */
  
  /* .task-manager h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%; 
    text-align: center;
  } */
  
  /* .add-task-btn {
    padding: 10px 20px;
    font-size: 18px;
    /* background-color: #fa0092; */
    /* background-color: #4f3cfc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
  } */ 
  
  /* .add-task-btn:hover {
     background-color: #ff82e6; 
    background-color: #5c00fa;
  }
   */
  /* .input-section {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-between;
    
  }
   */
  /* .task-manager input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 120px);
    border-radius: 5px;
    border: 1px solid #ddd;
  } */
  
  /* .save-btn, .cancel-btn {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4c6ff0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  } */
  
  /* .save-btn:hover, .cancel-btn:hover {
    background-color: #006efd;
  } */
  
  /* .cancel-btn {
    background-color: #f87b72;
  } */
  
  /* .cancel-btn:hover {
    background-color: #e53935;
  }
   */


  /* ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    width: 80%;
   
  }
   */
  /* .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 100%;
  } */
  
  /* .task-item span {
    font-size: 18px;
    color: #333;
    flex-grow: 1;
  }
  
  .action-icons {
    display: flex;
    gap: 10px;
  } */
  
  /* .edit-btn, .delete-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .edit-btn:hover {
    color: #ffa500;
  }
  
  .delete-btn:hover {
    color: #f44336;
  }
  
  .edit-section {
    display: flex;
    align-items: center;
  }
  
  .edit-section input {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 80px);
    border-radius: 5px;
    border: 1px solid #ddd;
  } */
  
 




  
  .repeat-btn {
    padding: 5px 15px;
    font-size: 14px;
    background-color: #f0a500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .repeat-btn:hover {
    background-color: #e68a00;
  }
  
  .repeat-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
  }
  
  .repeat-dropdown label {
    display: block;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .repeat-dropdown input {
    margin-right: 10px;
  }
  






  




  
 /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #fbf8f8;
}

.taskApp {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: #000;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: rgb(255, 254, 254);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000;
}

.task {
  background-color: rgb(248, 244, 244);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.task p {
  margin-bottom: 5px;
}

.task .task-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task .task-actions button {
  background: transparent;
  color: #555;
  border: none;
  cursor: pointer;
}

.task .task-actions button:hover {
  color: #000;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

button {
  padding: 10px;
  margin: 10px;
}

button:nth-child(1) {
  background-color: #4CAF50;
}

button:nth-child(2) {
  background-color: #f44336;
}

button:nth-child(1):hover {
  background-color: #45a049;
}

button:nth-child(2):hover {
  background-color: #f36f6f;
}


 









  */









  /* .task-manager {
    font-family: Arial, sans-serif;
    margin: 20px;
    background:linear-gradient(135deg,#FF8A00,#E52E71) ;

  }
  
  button {
    padding: 8px 16px;
    margin: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .task-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: auto;
    min-height: 200px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .task-form h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .task-form label {
    margin-top: 10px;
  }
  
  .task-form input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .days-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .days-container button {
    margin: 5px;
    padding: 8px 15px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .days-container button.selected {
    background-color: #4caf50;
    color: white;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .form-actions button {
    padding: 8px 16px;
    margin: 10px 0;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  .form-actions button:hover {
    background-color: #45a049;
  }
  
  .task-list {
    margin-top: 20px;
  }
  
  .task-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-actions svg {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .task-actions {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }
    */




















  




  /* .task-manager {
    font-family: Arial, sans-serif;
    margin: 0px;
    background:linear-gradient(135deg,#FF8A00,#E52E71) ;
    
  }
  

  button {
    padding: 8px 16px;
    margin: 10px;
    border: none;
    background-color: #68000063;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f84701;
  }
  
  .task-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: auto;
    min-height: 200px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .task-form h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .task-form label {
    margin-top: 10px;
  }
  
  .task-form input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .task-form input[type="text"]{
    background-color: #f8e1ef;
    color: #333;
  }
  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .form-actions button {
    padding: 8px 16px;
    margin: 10px 5px;
    border: none;
    background-color: #ff03a2;
    color: white;
    cursor: pointer;
  }
  
  .form-actions button:hover {
    background-color: #a10267;
  }
  
  .task-list {
    margin-top: 20px;
  }
  
  .task-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-actions svg {
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px; 
    color: #f47b12; 
  }
  
  .task-actions {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center; 
  }



  .time-picker {
    display: flex;
    
  }

  .time-picker select{
    background-color: #f4d6e7;
    color: #333;
    margin: 5px;
    padding: 3px;
  }
    */

 

  
  



    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      width: 100%;
     
  }

  body,html {
    /* overflow-x: hidden;
    overflow-y: hidden; */
      /* margin: 0;
      padding: 0; */
      font-family: Arial, sans-serif;
      /* justify-content: center;
      align-items: start; */
      background-color: #ddd;
  
      height: 100%; /* Ensure the body takes up the full height */
      width: 100%; /* Ensure the body takes up the full width */
      justify-content: center ;
      align-items: center;
      
    }

  


  /* .task-manager {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    background:linear-gradient(135deg,#FF8A00,#E52E71) ;
} */

.task-manager {

  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 20px;
  background:linear-gradient(135deg,#FF8A00,#E52E71) ;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f4f9;
  
  width: 100%;
  /* height: 100vh; */
  padding: 20px;
  color: #333;
  width: 50%;
  justify-content: center;
  align-items: center;
}

button {
    padding: 8px 16px;
    margin: 10px;
    border: none;
    background-color: #f5f5f4;
    color: rgb(238, 140, 21);
    cursor: pointer;
}

button:hover {
    background-color: #f84701;
}

.task-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px; /* Limit max width */
    height: auto;
    min-height: 200px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.task-form h3 {
    text-align: center;
    margin-bottom: 15px;
}

.task-form label {
    margin-top: 10px;
}

.task-form input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}


.task-manager input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 120px);
  border-radius: 3px;
  border: 1px solid #f8912b;
}

.task-form input[type="text"] {
    background-color: #fcedd3;
    color: #333;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-actions button {
    padding: 8px 16px;
    margin: 10px 5px;
    border: none;
    background-color: #fb8d44;
    color: white;
    cursor: pointer;
}

.form-actions button:hover {
    background-color: #c24801;
}

.task-list {
    margin-top: 20px;
    max-height: 500px; /* Set a max-height for the task list */
    overflow-y: auto; /* Allow vertical scrolling when content overflows */
}



.task-list p {
  text-align: center; 
}

.task-list ul {
    list-style-type: none;
    padding: 0;
    padding-left: 0;
    margin-top: 0;
    width: 80%;
}

.task-list li {
    padding: 10px;
    /* border: 1px solid #ddd; */
    margin: 10px 0;
    /* border-radius: 4px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.task-name {
  font-weight: bold;
  color: #333; /* You can change this color to match your design */
  
}







.edit-btn, .delete-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.edit-btn:hover {
  color: #ffa500;
}

.delete-btn:hover {
  color: #f44336;
}

.edit-section {
  display: flex;
  align-items: center;
}

.edit-section input {
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 80px);
  border-radius: 5px;
  border: 1px solid #ddd;
}









 .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 100%;
  } 

   .task-item span {
    font-size: 18px;
    color: #333;
    flex-grow: 1;
  }
  
  .action-icons {
    display: flex;
    gap: 10px;
  }

.task-actions svg {
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    color: #f47b12;
}

.task-actions {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}

/* Time picker styles */
.time-picker {
    display: flex;
}

.time-picker select {
    background-color: #f7e8d4;
    color: #333;
    margin: 5px;
    padding: 3px;
}

/* Media Queries for responsiveness */

/* Small devices (phones in portrait mode) */

@media (max-width: 480px) {
    .task-form {
      width: 90%;  /* Make the form take up 90% of the screen width */
      padding: 15px;
    }

    .form-actions {
      flex-direction: column;
      align-items: center;
    }

    .task-actions {
      width: 100%;
      justify-content: flex-end;  /* Align actions to the right */
    }

    .task-list ul {
      padding: 0;
    }

    .task-list li {
      flex-direction: column;  /* Stack task item content vertically */
      text-align: center;
    }
     .task-list .task-item{
      display: block;
    }
}

/* Medium devices (tablets in portrait or landscape mode) */

@media (max-width: 768px) {
    .task-form {
        width: 75%;  /* Make the form take up 75% of the screen width */
    }

    .task-actions {
        width: 100%;
        justify-content: flex-end;  /* Align actions to the right */
    }

    .task-list li {
        flex-direction: column;
        text-align: center;
    }

    .task-actions svg {
        font-size: 18px;  /* Slightly smaller icons */
    }
}

/* Larger devices (laptops, desktops) */

@media (min-width: 1024px) {
    .task-form {
      width: 50%; /* Center the form and reduce the width */
    }

    
    .task-actions {
      width: 300px;
      justify-content: space-between; /* Space out task actions */
    }

    .task-list {
        /* max-width: 900px;
        margin: auto; */
        max-width: none; /* Allow task list to fill the available width */
        margin: 0; /* Remove auto margin */
        width: 100%; /* Ensure task list uses full available width */
    }
}


/* Style the scrollbar itself */
.task-list::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
.task-list::-webkit-scrollbar-thumb {
  background-color: #f47b12; /* Thumb color */
  border-radius: 6px; /* Optional: round the corners of the thumb */
  border: 3px solid #f5f5f4; /* Optional: Add a border around the thumb */
}

/* Style the scrollbar track (background of the scrollbar) */
.task-list::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
  border-radius: 6px; /* Optional: round the corners of the track */
}











button{
  background-color: #f5a651 !important;
}

button:hover{
  background-color: orange !important;
}
